<!doctype html>
<!--//引入命名空间 可以 对thymeleaf 提示-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--//这个我没有弄-->
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!--//这个在我们 引用的bootstrap外部库里面，从webjar开始-->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--//我们自己的登陆css-->
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
   <!-- //国际化设置-->
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
   <!-- //国际化设置-->
    <label for="inputEmail" class="sr-only" th:text="#{login.username}">Email address</label>
    <!--//国际化设置-->
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" th:placeholder="#{login.username}" required autofocus>
    <!--//国际化设置-->
    <label for="inputPassword" class="sr-only" th:text="#{login.password}">Password</label>
    <!-- //国际化设置-->
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" th:placeholder="#{login.password}" required>
    <div class="checkbox mb-3">
        <label>
            <!--//国际化设置-->
            <input type="checkbox" value="remember-me" />[[#{login.remember}]]
        </label>
    </div>
    <!--//国际化设置-->
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.btn}">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
   <!-- //当点击中文或者Englist的时，会在index.html中加上L的参数，前面在config中我们已经设置了/和/index.html都会到登陆页面去就是login-->
    <a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
</form>
</body>
</html>

